@import "../node_modules/bootstrap/scss/bootstrap.scss";

// variabelen
$color_darkblue: #003049;
$color_yellow: #FCBF49;
$color_white: #FFFF;
$color-black: #0000;


* {
    margin: 0;
    padding: 0;
}

//header 
nav {
    display: flex;
}

nav a {
    display: block;
    color: $color_white;
    text-decoration: none;
    margin: 2%;
}

// body 

body {
    font-family: 'Roboto Slab', serif;
}


.contact {
    margin-top: 5%;
    margin-bottom: 5%;
    &__image {
        img {
            width: 100%;
        }
    }

    &__details {
        background-color: $color_yellow;
        width: 90%;
        height: 200px;
        padding: 2%;
        margin-top: 9%;

        h1 {
            color: $color_darkblue;
            font-weight: 300;
        }
        p {
            color: $color_darkblue;
            font-weight: 500;
            margin-left: 1%;
        }

        a {
            color: $color_darkblue;
            font-weight: 200;
            margin-left: 1%;
        }
    }

}