 @import '../node_modules/bootstrap/scss/bootstrap.scss';


// variabelen
$color_darkblue: #003049;
$color_yellow: #FCBF49;
$color_white: #FFFF;
$color-black: #0000;


* {
    margin: 0;
    padding: 0;
}


// body 

body {
    font-family: 'Roboto Slab', serif;
}

// body 


.detail {
    margin-top: 5%;
    padding-bottom: 5%;
    
    &__content {
        display: flex;
    }

    &__content h1 {
        color: $color_yellow;
    }

    &__content h2 {
        font-size: 30px;
        font-weight: 300;
    }

    &__content img {
        width: 60%;
        border-radius: 10px;
    }
}



// footer
.home__footer {
    background-color: $color_darkblue;
    border-radius: 2em 2em 0em 0em;
    margin-right: 5%;
    margin-left: 5%;

    h1 {
        color: $color_white;
        text-transform: uppercase;
    }

    .container {
        padding-top: 2%;
    }

    .home__contact {
        h2 {
            color: $color_yellow;
        }

        p {
            color: $color_white;
            font-weight: 200;
        }
    }
.row {padding-bottom: 2%;}
    .home__navigation {
        line-height: 2.4;
        h2 {
            color: $color_yellow;
        }

        ul {
            list-style: none;
        }

        li {
            color: $color_white;
            font-weight: 200;
        }

        :hover {
            color: $color_yellow;
        }
    }

    .home__design {
        padding-bottom: 0.2%;
         p {
            color: $color_white;
            font-weight: 200;
         }
    }

}