@import "../node_modules/bootstrap/scss/bootstrap.scss";

// variabelen
$color_darkblue: #003049;
$color_yellow: #FCBF49;
$color_white: #FFFF;
$color-black: #0000;


* {
    margin: 0;
    padding: 0;
}


//header 

nav {
    display: flex;
}

nav a {
    display: block;
    color: $color_white;
    text-decoration: none;
    margin: 2%;
}




// body 

body {
    font-family: 'Roboto Slab', serif;
}


.page {
    
    margin-top: 5%;
    padding-bottom: 2%;

    &__detail {
        border: 2px solid $color-darkblue;
        border-radius: 10px;
        width: 65%;
        margin-top: 5%;
        margin-bottom: 2%;
        padding: 2%;
        display: flex;
        
    }

    &__title h2 {     
        font-size: 20px;
        font-weight: 300;
        color: $color-darkblue;
    }

    &__content {
        margin-left: 5%;
    }

    &__form  {
        display: flex;
        input {
        width: 50%;
        border-radius: 15px;
        border: 2px solid $color_darkblue;
        opacity: 2;
        }

        button {
            border-radius: 10px;
            width: 15%;
            font-weight: 400;
            text-transform: uppercase;
            border: 2px solid $color_yellow;
            background-color: $color_yellow;
        }
        
    }

    &__time {
        font-size: 10px;
        margin-bottom: -6%;
        margin-left:2%;
    }

    &__subtitle {
        font-size: 12px;
        font-weight: 300;
    }

    &__icon {
        display: flex;

    }

    &__methods {
        display: flex;
        color: $color_yellow;

       
    } 
    &__free {
            margin-left: 5%;
            margin-top: -2%;
        }
    
    &__options {
        h3 {
          margin-top: 7%;  
          font-weight: 300;
          color: $color_yellow;
        }

        a {
            border-radius: 10px;
            width: 25%;
            border: 2px solid $color-yellow;
            background-color: $color-yellow;
            padding: 1% 3%;
            color: $color_darkblue;
    
            &.active {
                background-color: green;
            }
        }

        a:hover {
            text-decoration: none;
        }
        
    }

    &__detailpage {
        a{
            background-color: $color_darkblue;
            color: $color_white;
            padding: 2%;
            border: 2px solid $color_darkblue;
        }
    }

    

}


.page__img {
    img {
        width: 100px;
        border-radius: 10px;
    }
}