@import "../node_modules/bootstrap/scss/bootstrap.scss";

// variabelen
$color_darkblue: #003049;
$color_yellow: #FCBF49;
$color_white: #FFFF;
$color-black: #0000;


* {
    margin: 0;
    padding: 0;
}


//header 

nav {
    display: flex;
}

nav a {
    display: block;
    color: $color_white;
    text-decoration: none;
    margin: 2%;
}




// body 

body {
    font-family: 'Roboto Slab', serif;
}


.card-columns {
    margin-top: 2%;
    padding-bottom: 5%;

}

.card {

    &__event {
        background-color: $color_yellow;
        max-width: 100%;
        max-height: 180px;
        border-radius: 10px;
    }

    .card-title {
        text-align: center;
        color: $color_darkblue;
    }

    .card-text {
        text-align: center;
        color: white;
    }


}

.forms_add {
    margin-top: 5%;
}

.content {
    margin-top: 3%;
}

// zoekform
form {


    .search {

     button {
            color: #fff;
            margin-top: 7.5%;
            background-color: $color_darkblue;
            border-radius: 10px;
            font-size: 20px;
            width: 25%;
            height: 0%;
            border-color: $color_darkblue;
        }
    }


    .search button:hover {

        background-color: $color_yellow;
        border-color: $color_yellow;
        color: $color_darkblue;
    }

    .content {
        display: flex;
        justify-content: flex-end;
    }

    .content input {
        border-radius: 10px;
        width: 50%;
        max-height: 4%;
        border-color: $color-darkblue;
        margin: 2%;
        margin-top: 8%;
    }

}



form {


    .searchs {

        button {
            color: #fff;
            margin-top: 5.5%;
            background-color: $color_darkblue;
            border-radius: 10px;
            font-size: 20px;
            width: 25%;
            height: 0%;
            border-color: $color_darkblue;
        }
    }


    .searchs button:hover {

        background-color: $color_yellow;
        border-color: $color_yellow;
        color: $color_darkblue;
    }

    .contents {
        display: flex;
        justify-content: flex-end;
    }

    .contents input {
        border-radius: 10px;
        width: 50%;
        max-height: 4%;
        border-color: $color-darkblue;
        margin: 2%;
        margin-top: 5%;
    }

}