
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// variabelen
$color_darkblue: #003049;
$color_yellow: #FCBF49;
$color_white: #FFFF;
$color-black: #0000;


* {
    margin: 0;
    padding: 0;
}


// body 

body {
    font-family: 'Roboto Slab', serif;
}

.header__home {
    height: 120px;
    background-color: $color_darkblue;
    padding-top: 2%;
    border: 2px solid;
    border-radius: 0em 0em 2em 2em;
    margin-right: 5%;
    margin-left: 5%;
 }

// header
.login {
    &__name {
        color: $color_yellow;
        text-transform: uppercase;
        font-size: 30px;
    }

    &__title {
        color: $color_yellow;
        text-transform: uppercase;
    }


    &__button_login {
        border: 2px solid $color_yellow;
        border-radius: 5px;
        width: 90%;
        padding: 4px;
        background-color: $color_darkblue;
        color: $color_white;
        font-weight: 100;
        text-align: center;

    }

    &__button_login:hover {
        background-color: $color_yellow;
        color: $color_darkblue;
    }

    &__name__after {
        color: $color_white;
        display: flex;
        margin-top: 7%;
    }

    &__profile {
        display: flex;
        color: white;

    
        a {
            border: 2px solid $color_yellow;
            width: 120%;
            height: 40px;
            display: flex;
            justify-content: space-evenly;
            border-radius: 10px;
            padding: 3%;
            margin: 5%;
            color: $color_white;
            text-decoration: none;
        }

        

        a:nth-child(1) {
            background-color: $color_yellow;
        }
        a:hover:nth-child(2){
            background-color: $color_yellow;
            color: $color_darkblue;
        }

        span {
            color: $color_yellow;
        }

        i {
            margin-left: 4%;
            margin-top: 9%;
            color: $color_yellow;
        }
    }

    
    

}

// php header dynamisch

nav {
    display: flex;
}
nav a:hover {
    color: $color_yellow;
    text-decoration: none;
    
}



nav a {
    display: block; 
    color: $color_white;
    text-decoration:  none;
    margin: 2%;
}

a {
    color: color_yellow;
    text-decoration: underline;
}

.card {

    &__event {
        background-color: $color_yellow;
        max-width: 100%;
        max-height: 180px;
        border-radius: 10px;
        border: 6px solid $color_yellow;
        box-shadow: 8px 10px 12px -7px rgba(0,0,0,0.89);
        -webkit-box-shadow: 8px 10px 12px -7px rgba(0,0,0,0.89);
        -moz-box-shadow: 8px 10px 12px -7px rgba(0,0,0,0.89);
    }

    .card-title {
        text-align: center;
        color: $color_darkblue;
    }


    .card-text {
        text-align: center;
        color: white;
    }


}



// Body 

.home {
    &__about h1 {
        text-align: center;
        color: $color_yellow;
        margin-top: 5%;
    }

    &__text {
        margin-top: 5%;

        h2 {
            font-weight: 600;
        }

        h3 {
            font-weight: 200;
            font-size: 20px;
        }

        img {
            width: 90%;
            height: 90%;
            margin-left: 5%;
            border-radius: 15px;
        }
    }

    .title_events h1 {
        margin-top: 10%;
        font-size: 20px;
    }

    .card-columns {
        margin-top: 3%;
        padding-bottom: 15%;
    }


    // .card_paint {
    //     background-color: $color_yellow;
    //     border-radius: 20px;
    //     text-align: center;

    //     .card_paint:nth-child(2) {
    //         background-color: $color_darkblue;
    //         color: white;
    //     }

    //     h5 {
    //         color: $color_darkblue;
    //     }

    // }


}


//first home page zonder login 


.about__page {
    margin-top: 5%;
    margin-bottom: 5%;
    img {
        width: 100%;
    }
    h1{
        color: $color_darkblue;
    }
    p {
        line-height: 150%;
        font-weight: 300;
    }

    a { 
        background-color: $color_yellow;
        width: 30%;
        padding: 1.5%;
        color: $color_darkblue;
        border-radius: 10px;
        text-decoration: none;
       
    }



    a:hover {
        background-color: $color_darkblue;
        color: $color_white;
    }
}



// footer
.home__footer {
    background-color: $color_darkblue;
    border-radius: 2em 2em 0em 0em;
    margin-right: 5%;
    margin-left: 5%;

    h1 {
        color: $color_white;
        text-transform: uppercase;
    }

    .container {
        padding-top: 2%;
    }

    .home__contact {
        h2 {
            color: $color_yellow;
        }

        p {
            color: $color_white;
            font-weight: 200; 
            padding-top: 2.7%;

        }
    }
.row {padding-bottom: 2%;}
    .home__navigation {
        line-height: 2.4;
        h2 {
            color: $color_yellow;
        }

        ul {
            list-style: none;
        }

        li {
            color: $color_white;
            font-weight: 200;
            text-decoration: none;
        }

        :hover {
            color: $color_yellow;
            text-decoration: none;
        }
        a {
            text-decoration: none;
        }
    }

    .home__design {
        padding-bottom: 0.2%;
         p {
            color: $color_white;
            font-weight: 200;
         }
    }

}