
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// variabelen
$color_darkblue: #003049;
$color_yellow: #FCBF49;
$color_white: #FFFF;
$color-black: #0000;


* {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
}
nav a:hover {
    color: $color_yellow;
    text-decoration: none;
    
}



nav a {
    display: block; 
    color: $color_white;
    text-decoration:  none;
    margin: 2%;
}

a {
    color: $color_yellow;
    text-decoration: underline;
}

// body 

body {
    font-family: 'Roboto Slab', serif;
}

.content {
    button {
        border-radius: 10px;
        padding: 0.5%;
        background-color: $color_darkblue;
        color: $color_white;
        width: 10%;
        border: 2px solid $color_darkblue;
        margin-top: 2%;
    }

    button:hover {
        color: $color_darkblue;
        background-color: $color_yellow;
        border: 2px solid $color_yellow;
    }
}
textarea {
    border: 2px solid $color_darkblue;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    color: $color_darkblue;
    font-size: 1rem;
    line-height: 1.2rem;
  }



.message {

    .card {
        max-width: 30%;
        border-radius: 10px;
    }
    margin-top: 5%;
    margin-bottom: 5%;

    &__content img {
        object-fit: cover;
        border-radius: 10px;
        max-width: 100%;
    }
}


  

 
 